<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gom.eyetestgame">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EyeTestGamMain" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gameExplain" />
        <activity android:name=".choiceLevel" />
        <activity android:name=".gameMain" />
        <activity
            android:name=".result"
            android:label="@string/title_activity_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Result" />
        <activity android:name=".ranklistView" />
        <activity android:name=".SingleItemView" />
        <activity android:name=".RankRegister" />
        <activity android:name=".gameMain_LevelTwo" />
        <activity android:name=".gameMain_LevelThree"></activity>
    </application>

</manifest>